<app-header title="Ο ΗΡΑΚΛΗΣ"></app-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        box
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card>
                      <ion-card-content>
              <ion-grid>
                <!-- <ion-row>
                  <ion-col class="ion-text-end">
                    <ion-button class="circle-help" shape="round">Help</ion-button>
                  </ion-col>
                </ion-row> -->
                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-button shape="round">Επόμενο</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
