<div *ngIf="questions.length > 0">
  <form *ngIf="!showResults">
    <div *ngIf="questions[currentQuestionIndex]">
      <div>
        <strong>Ερώτηση {{currentQuestionIndex + 1}}:</strong> {{questions[currentQuestionIndex].question}}
      </div>
      <ion-button
        color="success"
        fill="solid"
        expand="block"
        [ngClass]="{'answer-buttons': userAnswers[currentQuestionIndex] === true}"
        (click)="selectAnswer(true)">
        Σωστό
      </ion-button>
      <ion-button
        color="danger"
        fill="solid"
        expand="block"
        [ngClass]="{'answer-buttons': userAnswers[currentQuestionIndex] === false}"
        (click)="selectAnswer(false)">
        Λάθος
      </ion-button>
      <ion-button expand="block" color="primary" (click)="nextQuestion()">
        <div style="color:black">
          ΕΠΟΜΕΝΟ
        </div>
      </ion-button>
    </div>
  </form>
  <div *ngIf="showResults">
    <div *ngFor="let q of questions; let i = index" style="margin-bottom:1em;">
      <div><strong>Ερώτηση {{i+1}}:</strong> {{q.question}}</div>
      <div>
        Η απάντησή σου:
        <span [ngStyle]="{'color': userAnswers[i] === q.answer ? 'green' : 'red'}">
          {{userAnswers[i] === true ? 'Σωστό' : 'Λάθος'}}
        </span>
        <span *ngIf="userAnswers[i] === q.answer">✔️</span>
        <span *ngIf="userAnswers[i] !== q.answer">❌</span>
      </div>
      <div>Σωστή απάντηση: <strong>{{q.answer ? 'Σωστό' : 'Λάθος'}}</strong></div>
    </div>
    <ion-button expand="block" color="secondary" (click)="reset()">Ξαναπαίξε</ion-button>
  </div>
</div>
<div *ngIf="questions.length === 0">
  <ion-text color="medium">Δεν βρέθηκαν ερωτήσεις.</ion-text>
</div>
