<ion-header>
  <ion-toolbar>
    <ion-title>Κεφάλαια</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">Κλείσιμο</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-list>
  <ng-container *ngFor="let chapter of chapters">
    <ion-list-header *ngIf="chapter.header">
      {{ chapter.header }}
    </ion-list-header>
    <ion-item *ngIf="chapter.title" (click)="chapter.clickable ? selectChapter(chapter) : null">
      <ion-label>
        {{ chapter.title }}
      </ion-label>
    </ion-item>
  </ng-container>
  <ion-item *ngIf="chapters.length === 0" lines="none">
    <ion-label>
      No chapters available.
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
