ion-content::part(scroll) {
  background: url('/assets/background.png') no-repeat center center fixed;
  background-size: cover;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

