<app-header title="Ο ΗΡΑΚΛΗΣ - Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>QUIZ</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!quizCompleted">
      <ion-col size="12">
        <h2>{{ currentQuiz.question }}</h2>
        <ion-grid>
          <ng-container *ngFor="let row of currentQuiz.options | slice:0:currentQuiz.options.length; let i = index">
            <ion-row *ngIf="i % 2 === 0">
              <ion-col size="6" *ngIf="currentQuiz.options[i]">
                <ion-button expand="block" shape="round"
                  [color]="selectedOption === currentQuiz.options[i] ? 'primary' : 'medium'"
                  (click)="selectOption(currentQuiz.options[i])">
                  {{ currentQuiz.options[i] }}
                </ion-button>
              </ion-col>
              <ion-col size="6" *ngIf="currentQuiz.options[i+1]">
                <ion-button expand="block" shape="round"
                  [color]="selectedOption === currentQuiz.options[i+1] ? 'primary' : 'medium'"
                  (click)="selectOption(currentQuiz.options[i+1])">
                  {{ currentQuiz.options[i+1] }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-grid>
        <div *ngIf="showFeedback" class="ion-text-center" style="margin-top: 16px;">
          <ion-text color="danger">{{ feedbackMessage }}</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="quizCompleted">
      <ion-col size="12" class="ion-text-center">
        <h2>Μπράβο!</h2>
        <p>Ολοκληρώσατε το κεφάλαιο!</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="quizCompleted">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="primary" [routerLink]="['/home']"
          >
          Πηγαινε στην αρχική σελίδα
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAiChatModal()">
      <ion-icon src="assets/idea.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer [number]="3"></app-footer>
