<app-header></app-header>

<ion-content >
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="6" style="display: flex; align-items: center; justify-content: center;">
        <h1 style="width: 100%; text-align: center;">ΜΑΘΗΜΑΤΑ</h1>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-searchbar placeholder="Αναζήτηση"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- First card: History -->
      <ion-col size="6">
        <ion-card class="ion-no-padding" (click)="openChapterModal()">
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/history.png" alt="History" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΙΣΤΟΡΙΑ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Example for another card with image, repeat as needed for each available image -->
      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/agglika.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΑΓΓΛΙΚΑ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/anthologio.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΑΝΘΟΛΟΓΙΟ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/glossa.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΓΛΩΣΣΑ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/ikastika.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΕΙΚΑΣΤΙΚΑ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/mathimatika.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header  class="ion-no-padding">
            <ion-card-title>ΜΑΘΗΜΑΤΙΚΑ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/meleti-perivalodos.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΜΕΛΕΤΗ ΠΕΡΙΒΑΛΛΟΝΤΟΣ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
            <img src="assets/cources/mousiki.png" alt="Math" style="max-width: 100px; max-height: 100px;">
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-card-title>ΜΟΥΣΙΚΗ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
